<launch>
<!--
launch a world first!! Now using lake.launch in multirov
roslaunch uuv_descriptions empty_underwater_world.launch 
-->



<!-- 
roslaunch uuv_descriptions upload_rexrov.launch mode:=default x:=0 y:=0 z:=-20 namespace:=rexrov1
roslaunch uuv_descriptions upload_rexrov.launch mode:=default x:=10 y:=10 z:=-20 namespace:=rexrov2
roslaunch uuv_gazebo rexrov_default_logitech_joy.launch joy_id:=0 namespace:=rexrov1
-->
<include file="$(find multirov)/models/rexrov/launch/upload_rexrov.launch">
	<arg name="x" value="1"/>
	<arg name="y" value="1"/>
	<arg name="z" value="-20"/>
	<arg name="namespace" value="rexrov1"/>
</include>

<include file="$(find multirov)/models/rexrov/launch/upload_rexrov.launch">
	<arg name="x" value="8"/>
	<arg name="y" value="1"/>
	<arg name="z" value="-20"/>
	<arg name="namespace" value="rexrov2"/>
</include>

<include file="$(find multirov)/models/rexrov/launch/upload_rexrov.launch">
	<arg name="x" value="1"/>
	<arg name="y" value="8"/>
	<arg name="z" value="-20"/>
	<arg name="namespace" value="rexrov3"/>
</include>

<!-- Start the dp_controller -->

<include file="$(find multiagent_simulation)/launch/dp_controller.launch">
	<arg name="uuv_name" value="rexrov1"/>
	<arg name="model_name" value="rexrov"/>
</include>

<include file="$(find multiagent_simulation)/launch/dp_controller.launch">
	<arg name="uuv_name" value="rexrov2"/>
	<arg name="model_name" value="rexrov"/>
</include>

<include file="$(find multiagent_simulation)/launch/dp_controller.launch">
	<arg name="uuv_name" value="rexrov3"/>
	<arg name="model_name" value="rexrov"/>
</include>

<!--
for a pre-generated traj
roslaunch uuv_control_utils send_waypoints_file.launch uuv_name:=rexrov2
-->

<!--
for a go_to waypoint

rosservice call /rexrov2/go_to "waypoint:
  point:
    x: 10.0
    y: 20.0
    z: -10.0
  max_forward_speed: 1.0
  heading_offset: 0.0
  use_fixed_heading: false" 
-->


<!--
launch a robot_state_publisher

<node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub1" >
 	<remap from="joint_states" to="/rexrov1/joint_states" />
</node>

-->

<!--
launch a movable urdf with gazebo visuai plugin, and use joystick to control it
-->
<include file="$(find multirov)/models/rexrov/launch/upload_rexrov.launch">
	<arg name="x" value="5"/>
	<arg name="y" value="5"/>
	<arg name="z" value="-30"/>
	<arg name="namespace" value="rexrov0"/>
	<arg name="mode" value="resource"/>
</include>

<!-- joy stick node -->
<include file="$(find multiagent_simulation)/launch/joystick.launch">
	<arg name="joy_id" value="0"/>
	<arg name="namespace" value="rexrov0"/>
</include>


<!-- RViz node -->
<arg name="launch_rviz" default="1"/>
<param name="robot_description" command="$(find xacro)/xacro.py '$(find uuv_descriptions)/models/rexrov/robots/rexrov_default.xacro'" />
<group if="$(arg launch_rviz)">
	<node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find multiagent_simulation)/rviz/urdf.rviz"/>
</group>


</launch>
